:root {
    --raisin-black: #32292f;
    --davys-gray: #575366;
    --ivory: #f9f9ed;
    --gray: #323031;
    --violet: #57467b;
    --ultra-violet: #6b5ca5;
    --blue-gray: #7cb4b8;
    --aquamarine: #00f8ba;
    --mint-green: #d1e3dd;
    --lime: #cafe48;
    --lime-heavy: #32cd32;
    --teal: #177e89;
    --poppy: #db3a34;
    --poppy-heavy: #c00600;
    --sunglow: #ffc857;
    --sunglow-heavy: #ffaa00;
}

body {
    color: var(--gray);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 0;
    font-weight: inherit;
}

button {
    outline: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--mint-green);
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: var(--ivory);
    background-color: var(--raisin-black);
}

.logo {
    font-size: 3rem;
    margin-left: 1rem;
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.search-block {
    font-size: 2rem;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    width: 2.3rem;
    transition: 0.4s width ease-in-out;
}

.search-block:hover {
    background-color: var(--violet);
}

.find {
    width: 15rem;
    background-color: var(--violet);
}

.searchbar {
    width: 0;
    background: none;
    outline: none;
    border: none;
    color: inherit;
    transition: 0.4s width ease-in-out;
}

.searching {
    width: 12rem;
}

.sidebar-button {
    display: none;
    cursor: pointer;
    color: inherit;
    margin: 0.6rem;
    -webkit-tap-highlight-color: transparent;
}

.bar1, .bar2 {
    width: 2rem;
    height: 0.5rem;
    margin: 0.5rem 0;
    background-color: var(--ivory);
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 0.5rem) rotate(-45deg);
}

.change .bar2 {
    transform: translate(0, -0.5rem) rotate(45deg);
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
}

.content, .sidebar {
    height: calc(100vh - 4rem);
}

.content {
    order: 2;
    width: 75vw;
}

.content-title {
    margin: 2rem;
}

.content-list {
    margin: 1rem 2rem;
}

.add-to-do {
    margin: 1rem 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--ivory);
    background-color: var(--blue-gray);
}

.sidebar {
    position: relative;
    order: 1;
    background-color: var(--davys-gray);
    width: 25vw;
    color: var(--ivory);
}

.sidebar > * {
    margin-left: 1rem;
}

.projects-title {
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--ivory);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list-select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: none;
    border: none;
    cursor: default;
    color: var(--ivory);
}

.project-cross-button {
    display: none;
    background: none;
    border: none;
    color: var(--poppy);
    position: relative;
    padding: 0;
    top: -0.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-to-do:hover,
.projects-title:hover,
.project-list-select:hover,
.add-project:hover,
.popup-submit:hover {
    font-weight: bold;
}

.add-to-do:hover,
.popup-submit:hover {
    background-color: var(--teal);
}

.project-list-select:hover .project-cross-button {
    display: block;
}

.project-colour-code {
    width: 0.4rem;
    height: 1rem;
}

.add-project {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
}

.overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50vh;
    width: 25vw;
    background-color: var(--ivory);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease-in-out;
}

.exit-popup {
    background: none;
    border: none;
    color: var(--poppy);
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-popup,
.todo-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray);
}

.todo-popup {
    position: relative;
}

.project-popup > input,
.todo-popup > input {
    background: none;
    border: none;
    outline: none;
    color: inherit;
}

.todo-popup > textarea {
    resize: none;
    background-color: inherit;
    font-size: 0.75rem;
}

.todo-popup > textarea:focus {
    border: 1px solid var(--teal);
    outline: none;
}

.todo-enabler-container,
.priority-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.priority-button {
    outline: none;
    border: 1px solid var(--ivory);
    border-radius: 0.5rem;
    font-weight: bold;
}

#low-priority {
    background-color: var(--lime);
}

#low-priority:hover {
    background-color: var(--lime-heavy);
}

#medium-priority {
    background-color: var(--sunglow);
}

#medium-priority:hover {
    background-color: var(--sunglow-heavy);
}

#high-priority {
    background-color: var(--poppy);
}

#high-priority:hover {
    background-color: var(--poppy-heavy);
}

.priority-button.clicked {
    border: 1px solid var(--gray);
}

.checkbox {
    margin-bottom: var(--standard-dimension);
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid var(--teal);
    transition: 0.3s border ease-in-out;
}

.checkbox.checked {
    border: 6px solid var(--teal);
}

.dropdown {
    position: relative;
    height: 1rem;
    width: 12rem;
    background: none;
}

.dropdown::before {
    content: "";
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid var(--teal);
    border-top: transparent;
    border-right: transparent;
    transform: rotate(-45deg);
    pointer-events: none;
    transition: all 0.3s linear;
}

.dropdown input {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background: var(--mint-green);
    border: 1px solid var(--teal);
    outline: none;
    user-select: none;
    cursor: pointer;
}

.dropdown .options {
    width: 80%;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--mint-green);
    padding: 0.5rem;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
}

.dropdown .options .option {
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.dropdown .options .option:hover {
    color: var(--ivory);
    background-color: var(--ultra-violet);
}

.dropdown.open .options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown.open::before {
    transform: rotate(-225deg);
    top: 0.5rem;
}

.dropdown.disable input {
    background-color: var(--blue-gray);
}

.todo-popup input[type="date"] {
    border: 1px solid var(--teal);
    border-radius: 0.5rem;
    background-color: var(--mint-green);
}

.todo-popup input[type="date"]:disabled {
    /* border-radius: 0.5rem; */
    background-color: var(--blue-gray);
}

.project-popup > input[type="text"],
.todo-popup > input[type="text"] {
    border-bottom: 1px solid var(--gray);
    width: 75%;
}

.popup-submit {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue-gray);
    padding: 0.5rem;
    color: var(--ivory);
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 550px) {
    .logo {
        font-size: 2rem;
    }

    .search-block {
        font-size: 1.5rem;
        padding: 1rem;
        width: 1.8rem;
    }

    .find {
        width: 8rem;
    }

    .searching {
        width: 5rem;
    }

    .sidebar-button {
        display: inline-block;
    }

    .content {
        order: 1;
        width: 100vw;
    }

    .sidebar {
        position: absolute;
        order: 2;
        width: 12rem;
        right: -12rem;
        transition: all 0.4s;
    }

    .sidebar.expand {
        right: 0;
    }

    .popup {
        width: 75vw;
        height: 50vh;
    }
}

@media (max-height: 600px) {
    .projects-title {
        font-size: 1.5rem;
    }

    .popup {
        width: 50vw;
        height: 90vh;
    }
}