:root {
    --raisin-black: #32292f;
    --davys-gray: #575366;
    --ivory: #f9f9ed;
    --gray: #323031;
    --violet: #57467b;
    --blue-gray: #7cb4b8;
    --aquamarine: #70f8ba;
    --mint-green: #d1e3dd;
    --lime: #cafe48;
    --teal: #177e89;
    --poppy: #db3a34;
    --sunglow: #ffc857;
}

body {
    color: var(--gray);
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--mint-green);
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: var(--ivory);
    background-color: var(--raisin-black);
}

.logo {
    font-size: 3rem;
    margin-left: 1rem;
}

.nav-toolbox {
    display: flex;
    flex-direction: row;
}

.searchbar {
    font-size: 2rem;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
}

.searchbar:hover {
    background-color: var(--violet);
}

:not(.searchbar:focus) {
    background-color: none;
}

.find {
    width: 15rem;
    background-color: var(--violet);
}

.sidebar-button {
    display: none;
    cursor: pointer;
    color: inherit;
    margin: 0.6rem;
    -webkit-tap-highlight-color: transparent;
}

.bar1, .bar2 {
    width: 2rem;
    height: 0.5rem;
    margin: 0.5rem 0;
    background-color: var(--ivory);
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 0.5rem) rotate(-45deg);
}

.change .bar2 {
    transform: translate(0, -0.5rem) rotate(45deg);
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
}

.content, .sidebar {
    height: calc(100vh - 4rem);
}

.content {
    order: 2;
    width: 75vw;
}

.sidebar {
    position: relative;
    order: 1;
    background-color: var(--davys-gray);
    width: 25vw
}

@media (max-width: 550px) {
    .logo {
        font-size: 2rem;
    }

    .searchbar {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .find {
        width: 8rem;
    }

    .sidebar-button {
        display: inline-block;
    }

    .content {
        order: 1;
        width: 100vw;
    }

    .sidebar {
        position: absolute;
        order: 2;
        width: 10rem;
        right: -10rem;
        transition: all 0.4s;
    }

    .sidebar.expand {
        right: 0;
    }
}